header {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500px;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 97%;
    justify-content:space-between;
    align-items: center;
    background-image:(rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0.829)), url('lei\ maria\ da\ penha.jpg');
    backdrop-filter: blur(10px);
     
}

header a {
    color: #ffffff;
    text-decoration: none; /* Opcional: remove o sublinhado padrão do link */
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    padding: 20px;
    text-align: left;
    background-image: url(lei\ maria\ da\ penha.jpg);
    background-color:black;
    color: rgb(184, 182, 182);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 0px;
   
    
 }
 
footer{
    padding: 50px;
    font-weight: 50px;
    background-color: rgb(224, 0, 0);
    color: rgb(128, 128, 128);
    text-align: left;
    padding: 0%;
 }
center{
    text-align: center;
}
 
img{
    width: 600px;
    height: 400px;
   
}
 
button{
    color: wheat;
    background-color: rgb(255, 255, 255);
    width: 130px;
    height: 90px;
    position: fixed;right: 1000px;
 
}
 
