header {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300px;
    color: #ffffff;
    display: flex;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    backdrop-filter: blur(5px);

}


body{
    padding: 0px;
    text-align: center;
    background-image : url(lei\ maria\ da\ penha.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0.829)), url('lei\ maria\ da\ penha.jpg');
    color: rgb(255, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
   
    
 }
 
center{
    text-align: center;
}
 
img{
    width: 600px;
    height: 400px;
   
}
 
button{
color: wheat;
background-color: rgb(255, 0, 0);
width: 130px;
height: 90px;
position: fixed;right: 1000px;
 
}
 
 
footer{
    background-image: url(maosdsangue.jpg);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1px;
}
